body
{
	margin-top: 15pt;
	font-size: 15pt;
	font-family: Georgia, "Times New Roman", Times, serif;
    background-image: url("Images/constructive_bg_01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-color: #000000;
}

/* Header Stuff */

header
{
	background-color: rgba(18, 76, 23, .4);
	padding-top: 15pt;
	padding-bottom: 1pt;
}

/* Section Stuff */

section
{
	width: 70%;
	margin-top: 5pt;
    color: white;
	border: 1px solid black;
	padding: 5pt;
	background-color: rgba(105, 106, 109, .4);
}

h1
{
    font-size: 40px;
}

a 
{
    color: white;
}

#old
{
	margin-left: 12%;
	margin-right: 15%;
	border: 1px solid black;
	padding: 5pt;
}

#latest
{
	float: left;
	width: 70%;
	border: 1px solid black;
	padding: 5pt;
}

/* Side Bar */

article
{
	float: left;
	margin: 5pt;
	border: 1px solid black;
	padding: 5pt;
	width: 10%;
}

#filler
{
	float: left;
	margin: 5pt;
	padding: 5pt;
	width: 10%;
}

/* Nav Bar */

#navbar table
{
	border: 1px solid white;
	border-collapse: collapse;
	border-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20pt;
	padding: 1pt 30pt 20pt 30pt;
	font-size: 18pt;
}

#navbar td
{
	border: 1px solid white;
	border-collapse: collapse;
	border-color: white;
	margin: 10pt 0pt 20pt 10%;
	padding: 0px 0px 0px 0px;
	font-size: 18pt;
}

#navbar a
{
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
    color: white;
	float: left;
	padding: 20px 0px 0px 0px;
	height: 45px;
	width: 130px;
	text-align: center;
}

#navbar a:visited
{
	color: white;
}

#navbar a:hover
{
	background-color: #FFFFFF;
	color: #000000;
}

/* Classes Here */

.floatright
{
	float: right;
}

.floatleft
{
	float: left;
}

div.clear
{
	clear: both;
}

.tinytext
{
	font-size: 8pt;
}

.center
{
	text-align: center;
}

img.displaycenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.italics
{
    font-style: italic;
}